flask 
fastapi 
firebase-admin 
google-cloud-aiplatform 
google-cloud-storage 
google-auth 
python-dotenv
google-genai
pytesseract 
pypdf 
PyPDF2 
langchain 
langchain-core 
langchain-google-vertexai 
google-cloud-aiplatform 
langchain-community
     